body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#url-field {
  display: inline-block;
}

#author-text {
  color: steelblue;
  display: inline-block;
  margin-right: 0.5em;
}

#author-score {
  color: #888;
  font-size:x-small;
}

#body-text {
  border-left: 1px dotted #DDF;
  padding-left: 10px;
}

#viewer {
  padding: 5px;
}

.fixed-action-btn.horizontal ul {
  margin-left: 100px;
  left:0 !important;
  right:0 !important;
  width: auto !important;
  text-align: left !important;
}

.color_standard {
  /* fill: #808080; */
}

.color_commonAuthor {
  /* fill: #FF0000; */
}

.color_original {
  /* fill: #666699; */
}

.color_selected {
  /* fill: #FFFF00; */
}
